.projects__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.projects__block_default {
  height: var(--main-block-height);
  position: relative;
  margin-top: 50px;
  padding: 20px;
  background-color: var(--project-block-background-color);
  border-radius: 50px;
}

.projects__back-link {
  display: block;
  font-size: 1.1rem;
}

.projects__project-container {
  display: flex;
  gap: 20px;
}

.projects__content-direction_left {
  flex-direction: row-reverse;
}

.projects__content-direction_right {
  flex-direction: row;
}

.projects__project-container:first-child {
  margin-top: 0;
}

.projects__content_position_left {
  text-align: left;
  float: left;
}

.projects__content_position_right {
  text-align: right;
  float: right;
}

.projects__header {
  font-weight: 800;
  font-size: 4rem;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 30px;
}

.projects__subheader {
  font-style: italic;
  font-size: 1.2rem;
}

.projects__description {
  font-size: 1.4rem;
  font-weight: 200;
}

.projects__description > ol {
  list-style-position: inside;
}

.projects__description > * {
  margin-bottom: 30px;
}

.projects__image {
  object-fit: cover;
  width: 400px;
  height: 400px;
  /* max-width: 400px;
  max-height: 400px; */
  border-radius: 100%;
}

.projects__detailed-image {
  /* max-width: 40%;
  max-height: 40%; */
  width: 100%;
  z-index: 1;
  position: relative;
}

.projects__grid-content {
  margin-top: 50px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  /* background-color: rgb(39, 38, 38); */
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}

.projects__detailed-image-container {
  position: relative;
  overflow: hidden;
}

.projects__square-pic {
  height: 70%;
  width: 70%;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: 0;
}

.projects__more-detailed-link {
  border: 1px solid gray;
  border-radius: 50px;
  padding: 15px;
  font-size: 1.4rem;
  display: inline-block;
}

.projects__more-detailed-link-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.projects__anchor {
  margin-top: calc(-1 * var(--header-height));
}

@media screen and (max-width: 1300px) {
  .projects__image {
    max-width: 300px;
    max-height: 300px;
  }
}

@media screen and (max-width: 1000px) {
  /* .projects__image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
    opacity: 0.3;
  } */

  .projects__image {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: unset;
  }

  .projects__content-direction_left {
    flex-direction: column-reverse;
  }

  .projects__content-direction_right {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 620px) {
  .projects__block_default {
    height: auto;
  }

  .projects__header {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 20px;
  }
}
