/* .to-learn-to-learn {
  background-image: url('../../images/background/projects-sections/to-learn-to-learn/two_again.png');
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}

.travel-in-russia {
  background-image: url('../../images/background/projects-sections/travel-in-russia/travel-in-russia-background.PNG');
  background-position: center left;
  background-size: 45%;
  background-repeat: no-repeat;
}

.mesto {
  background-image: url('../../images/background/projects-sections/mesto/mesto.PNG');
  background-position: center right;
  background-size: 45%;
  background-repeat: no-repeat;
}

.stellarBurger {
  background-image: url('../../images/background/projects-sections/stellar-burger/stellar-burger.PNG');
  background-position: center left;
  background-size: 45%;
  background-repeat: no-repeat;
} */
